@font-face {
    font-family: 'Tahoma';
    src: local('Tahoma Bold'), local('Tahoma-Bold'),
        url('Tahoma-Bold.woff2') format('woff2'),
        url('Tahoma-Bold.woff') format('woff'),
        url('Tahoma-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Tahoma';
    src: local('Tahoma'),
        url('Tahoma.woff2') format('woff2'),
        url('Tahoma.woff') format('woff'),
        url('Tahoma.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

